* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner-section {
    padding: 30px 30px 0px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.ex-btn {
    padding: 20px 43px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.heading {
    color: #272727;
    font-size: 40px;
    margin: 0;

}

/* main section css  */
.hot-section {
    display: flex;
    padding: 100px 30px 0px 30px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    justify-content: space-around;

}

.hot-deal {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.deal-heading {
    color: #272727;
    font-size: 35px;
    margin-bottom: 0px;
}
#f-bg{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
#instagram-description{
    padding: 10px 150px;
    text-align: center;
}
.ins-title{
    text-align: center;
    margin-top: 50px;
}
.inst-container{
    display: flex;
    margin: 25px 50px  100px;
    justify-content: center;
    align-items: center;
}
.inst-item{
    width: 250px;
    height: 280px;
    padding: 10px;
}
.latest-deal{
    
    background-image: url("Rectangle\ 9.png");
    height: 449px;
}
.latest-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 150px;
}
.input-email{
    width: 500px;
    height: 40px;
}
.input-btn {
    padding: 10px 13px;
    color: white;
    /* border-radius: 8px; */
    background: #E55473;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
}
/* footer style css  */
.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 130px;
    background: #111010;
    width: full;
    height: 349px;
    color: white;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 700;
}
.footer-span{
    color:#fff;
}
