* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.menu-container{
    background: rgba(207, 56, 89, 0.1);
    padding: 20px;
    display: flex;   
    color: black;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.menu{
    display: flex;  
}
.item{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.banner-title{
    padding: 5px;
}
.banner-section {
    padding: 30px 30px 0px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.primary-btn {
    padding: 20px 43px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.heading {
    color: #272727;
    font-size: 40px;
    margin: 0;
}

/* main section css  */
.hot-section {
    display: flex;
    padding: 100px 30px 0px 30px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    justify-content: space-around;

}

.hot-deal {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.deal-heading {
    color: #272727;
    font-size: 35px;
    margin-bottom: 0px;
}

#flower-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
    width: 290px;
    height: 400px;
}

#flower2-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-bottom: 0px;
    width: 290px;
    height: 400px;
    margin-left: 20px;
}

#flower3-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-bottom: 0px;
    width: 290px;
    height: 400px;
    margin-left: 20px;

}

.flower-container {
    display: flex;
    margin: 25px 50px 100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.feature-title{
    text-align: center;
    text-decoration: underline;
}

#instagram-description {
    padding: 10px 150px;
    text-align: center;
}

.ins-title {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.inst-container {
    display: flex;
    margin: 25px 50px 100px;
    justify-content: center;
    align-items: center;
}

.inst-item {
    width: 250px;
    height: 280px;
    padding: 10px;
}

.latest-deal {
    background-image: url("Rectangle\ 9.png");
    height: 449px;
}

.latest-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 100px;
    
}

.input-email {
    width: 500px;
    height: 40px;
}

.input-btn {
    padding: 10px 13px;
    color: white;
    /* border-radius: 8px; */
    background: #E55473;
    font-size: 17px;
    border: none;
    cursor: pointer;

}

/* footer style css  */
.footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 130px;
    background: #111010;
    width: full;
    height: 349px;
    color: white;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 700;
}

.footer-span {
    color: #fff;
}